@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap');

:root{
    --dark:#001219;
    --white:#ffffff;
    --main-white:#f0f8ff;
    --main-red:#d90429;
}
body{
    background-color: var(--main-white);
    font-family: Comfortaa;
}
img{
    width: 100%;
}